.random-planet{
    width: 780px;
    height: 150px;
    margin: auto;
}

.image{
    width: 140px;
    height: 140px;
    float: left;
    padding: 5px;
}
.planetData{
    padding-top: 5px;
    margin-left: 50px;
    float: left;
    width: 50%;
    display:table-column;
}
.planetName{
    font-size: 20px;
}