.person-details{
    margin: 20px;
    width: 400px;
}
.details-image{
    width: 200px;
    height: 275px;
}
.details-body{
    padding-top: 20px;
}
.name{
    font-size: 20pt;
    font-weight: bold;
}